.page-id-47 {
  .about-description {
    max-width: 30rem;
    padding: 3rem 1rem;
    margin-bottom: 4em;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }

  h2 {
    // margin-bottom: 2rem;
  }

  .tool-list {
    max-width: 30rem;
    margin: auto auto 5rem auto;
  }
}
