.home {
  .entry-content {
    margin: 0;
  }

  h1 {
    background-color: $red;
    color: $white;
    text-align: center;
  }

  p {
    height: 5rem;
    font-weight: 500;
    text-align: center;
    margin: 3rem auto;
  }

  .wp-block-button__link {
    background-color: $light-yellow;
    color: $black;
    font-weight: 600;
    border: 2px solid $red;
    // border-radius: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 3rem;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
      $yellow,
      #ffe785,
      #ffeeab,
      $light-yellow,
      $light-yellow,
      #ffeeab,
      #ffe785,
      $yellow
    );
    box-shadow: 0 4px 15px 0 $red;

    // background: linear-gradient(90deg, $red 5%, $yellow 80%);
  }

  .wp-block-button__link:hover {
    // color: $red;
    transform: scale(1);
    background-position: 135px 100px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .wp-block-button__link:focus {
    outline: none;
  }

  .wp-block-buttons {
    display: flex;
    justify-content: center;
  }

  .contact-wrapper {
    flex-direction: row;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30rem;
  }

  .contact-wrapper svg {
    fill: $red;
    height: 2.5rem;
    width: 2.5rem;
  }

  @media screen and (min-width: 50em) {
    .site-header {
      // display: none;
    }
    .entry-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .home-title {
      background-color: $red;
    }
    .home-title,
    .home-content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .home-content p {
      font-size: 1.5rem;
    }

    .contact-wrapper {
      margin: 0;
    }

    .site-footer {
      display: none;
    }
  }
}
