.home {
  .entry-content {
    margin: 0;
  }

  .entry-content h1 {
    background-color: $red;
    color: $white;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 3rem 0;
  }

  .wp-block-button__link {
    background-color: $light-yellow;
    color: $black;
    border: 2px solid $black;
    border-radius: 0px;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .wp-block-buttons {
    display: flex;
    justify-content: center;
  }

  .contact-wrapper {
    flex-direction: row;
  }
}
