// Work Archive Page

.post-type-archive-portfolio-work {
  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work:nth-child(odd) {
    background-color: $white;
  }

  .size-work-archive-img {
    padding: 3rem 1rem 1rem 1rem;
    width: 20rem;
  }

  .work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
  }

  h2 {
    margin-top: 0;
  }

  .details {
    border-bottom: 3px solid $red;
    margin-bottom: 3rem;
  }

  @media screen and (min-width: 50em) {
    .size-work-archive-img {
      width: 25rem;
      padding: 5rem 1rem;
    }

    .work {
      flex-direction: row;
      gap: 5rem;
    }

    .work-tools {
      max-width: 20rem;
    }
  }
}

// Work Single Page
.single-portfolio-work {
  img {
    width: 30rem;
    display: block;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  h1 {
    padding-top: 0;
    font-size: 2rem;
  }

  .link {
    text-align: center;
    // margin-bottom: 7rem;
    a {
      border-bottom: 2px solid $red;
      margin-right: 1rem;
    }
  }

  p {
    margin-bottom: 5rem;
  }

  .navigation {
    margin: 1rem auto 5rem;
  }

  h2 {
    margin-bottom: 0;
  }

  .single-work-steps {
    margin-bottom: 4rem;
  }

  // .single-work-step:first-child {
  //   margin-bottom: 7rem;
  // }

  .single-work-step {
    margin-bottom: 7rem;
  }

  @media screen and (min-width: 50em) {
    .single-work-descriotion img {
      width: 40rem;
      padding-top: 5rem;
    }

    .navigation {
      margin: 2rem 3rem 5rem;
    }
  }
}
