// Work Archive Page

.post-type-archive-portfolio-work {
  .work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work:nth-child(odd) {
    background-color: $white;
  }

  .work-img {
    padding: 0 1rem;
  }

  .size-work-archive-img {
    // padding: 3rem 1rem 1rem 1rem;
    margin: 3rem 0 1rem;
    border: 1px solid $gray;
    border-radius: 2px;
  }

  .work-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 4rem;
    min-width: 20rem;
  }

  h2 {
    margin-top: 0;
  }

  .details {
    border-bottom: 3px solid $red;
    margin-bottom: 3rem;
  }

  .details:hover {
    color: $red;
    font-weight: 500;
    border-bottom: 3px solid $yellow;
    transition: 0.2s ease-in-out;
  }

  .work-img {
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 2s ease-out forwards;
  }

  @keyframes slide-in-anim {
    20% {
      opacity: 0;
    }
    60% {
      transform: translateX(5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @media screen and (min-width: 50em) {
    .size-work-archive-img {
      margin-top: 0;
    }
    .work {
      flex-direction: row;
      gap: 5rem;
      padding: 5rem 0;
    }

    .work-content {
      margin-bottom: 0;
      width: 24rem;
    }

    .work-tools {
      width: 20rem;
    }
  }
}

// Work Single Page
.single-portfolio-work {
  img {
    display: block;
    margin: 0 auto 3rem;
    border: 1px solid $gray;
  }

  h1 {
    padding-top: 0;
    font-size: 2rem;
  }

  .link {
    text-align: center;
    margin-bottom: 2rem;
    a {
      border-bottom: 2px solid $red;
    }

    a:hover {
      color: $red;
      font-weight: 500;
      border-bottom: 2px solid $yellow;
      transition: 0.2s ease-in-out;
    }
    a:nth-of-type(even) {
      margin-left: 1rem;
    }
  }

  p {
    margin-bottom: 5rem;
  }

  .navigation {
    margin: 1rem auto 5rem;
  }

  h2 {
    // margin-bottom: 0;
  }

  .single-work-steps {
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-work-descriotion {
    margin-top: 5rem;
  }

  .single-work-step {
    margin-bottom: 7rem;
  }

  .nav-title:hover {
    color: $red;
  }

  @media screen and (min-width: 50em) {
    .single-work-descriotion img a {
      padding-top: 5rem;
    }

    .navigation {
      margin: 2rem 3rem 5rem;
    }
  }
}
