body {
  background: $color__background-body; // Fallback for when there is no custom
  color: $black;
}

.site {
  margin: 0 auto;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
}

main {
  background-color: $light-yellow;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
