body {
  background: $color__background-body; // Fallback for when there is no custom
  color: $black;
}

.site {
  // max-width: 62.5rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $light-yellow;
  flex: 1 1 auto;
}
