body {
  background-color: $light-yellow;
  color: $black;
  .site-info {
    display: none;
  }

  @media screen and (min-width: 50em) {
    .site-info {
      display: inline-block;
    }
  }
}

.site {
  margin: 0 auto;
  min-height: 100vh;
  background-color: $light-yellow;
}

main {
  background-color: $light-yellow;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
